<! Document html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>初识Vue</title>
        <!-- 引用Vue -->
        <!-- https://www.bilibili.com/video/BV1Zy4y1K7SH/?p=4&spm_id_from=pageDriver&vd_source=c20fdee8eb71a2604ed4f84d382f798f -->
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <!--
            Vue 监视数据的原理：
            1）Vue 会监视data中所有层次的数据。

            2）如何监测对象中的数据？
                通过setter实现监视，且要在new Vue时就传入要监视的数据。
                对象中所追加的属性，Vue默认不做响应式处理
                如需给后添加的属性做响应式，请使用如下Api
                    Vue.set(target,propertyName/index,value ) 
                    this.$set(target,propertyName/index,value)
            
            3)如何监测数组中的数据？
                通过包裹数组更新元素的方法实现，本质就是做了两件事：
                    调用原生对应的方法对数组进行更新。
                    重新解析模版，进而更新页面
            
            4）在Vue修改数组中的某个元素一定要用如下方法
                使用这些Api push(),pop(),shift(),unshift(),splice(),sort(),reverse()
                使用Vue.set() 或 vm.$set()
            
            特别注意：Vue.set()和vm.$set() 不能给vm (vm.xxx)或vm  (vm.data)的根数据对象 添加属性！！

        
        -->
        <div id="root">
            <h1>学校信息</h1>
            <h2>姓名:{{name}}</h2>
            <h2>地址:{{address}}</h2> 
            <hr/>
            <h1>学生信息</h1>
            <button @click="addStudentSex">添加一个性别默认是男</button>
            <button @click="student.sex= '未知' ">修改性别</button>
            <button @click="addStudentFriend">在首位添加一个朋友</button>
            <button @click="updFriendName">修改第一个朋友名字为张三</button>
            <button @click="addHobby">添加一个爱好</button>
            <button @click="updHobby">修改第一个爱好为 开车</button>
            <button @click="delHobby">删除开车爱好</button>
            <h2>姓名:{{student.name}}</h2>
            <h2 v-if="student.sex">性别:{{student.sex}}</h2>
            <h2>年龄:{{student.age.rAge}} 对外年龄{{student.age.sAge}}</h2> 
            <h2>爱好</h2>
            <ul>
                <li v-for="(h,idx) in student.hobby">
                    {{h}}
                </li>
            </ul>
            <h2>朋友</h2>
            <ul>
                <li v-for="(f,idx) in student.friends">
                    {{f.name}}--{{f.age}}
                </li>
            </ul>
        </div>

        <script type="text/javascript">
            Vue.config.productionTip = false  // 阻止Vue 在启动时生成的生产提示
            // 计算属性 实现
            const vm=new Vue({
                el:"#root",
                data:{
                   name:"小刚",
                   address:"北京",
                   student:{
                    name:'hg',
                    age:{
                        rAge:29,
                        sAge:18
                    },
                    hobby:["吃饭","睡觉","打豆豆"],
                    friends:[
                        {name:"tom",age:19},
                        {name:"jack",age:21}
                    ]
                   }
                } ,
                methods:{
                    addStudentSex(){
                        // Vue.set(this.student,'sex','男')
                        this.$set(this._data.student,'sex','男')
                    },
                    addStudentFriend(){
                        const f = {name:"fe",age:18}
                        this.student.friends.unshift(f)
                    },
                    updFriendName(){
                       const f= this.student.friends[0]
                       f.name='张三'
                       f.age=99
                    },
                    addHobby(){
                        this.student.hobby.push('吹牛')
                    },
                    updHobby(){
                        // 以下3种都可以
                        // this.student.hobby.splice(0,1,'开车')
                        // Vue.set(this.student.hobby,0,'开车')
                        this.$set(this.student.hobby,0,'开车')
                    },
                    delHobby(){
                        this.student.hobby = this.student.hobby.filter((f) =>{
                            return f != '开车'
                        })
                    }
                }
            })
        </script>
    </body>
</html>